/* Furniture Section */
.furniture-section {
    padding: 60px 0;
    text-align: center;
}

.furniture-section h2 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #0b3d2e;
    font-family: 'Poppins', sans-serif;
}

/* Furniture Grid - 3 Per Row */
.furniture-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 35px;
    width: 80%;
    margin: auto;
}

/* Furniture Item Card */
.item {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    transition: 0.3s;
}

.item:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.name {
    font-size: 17px;
    margin-top: 12px;
    font-weight: 600;
}

.price {
    color: #d69d29;
    font-size: 17px;
    font-weight: 700;
    margin-top: 4px;
}
