.footer {
    background: #0b3d2e;
    color: #ffffff;
    padding: 60px 80px 40px;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-logo {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: 600;
    color: #d69d29;
}

.footer-column a {
    display: block;
    color: #e1e1e1;
    text-decoration: none;
    margin: 6px 0;
    font-size: 14px;
    transition: 0.3s;
}

.footer-column a:hover {
    color: #d69d29;
    padding-left: 4px;
}

.footer-social a {
    display: inline-block;
    margin-right: 14px;
    font-size: 18px;
    color: white;
    transition: 0.3s;
}

.footer-social a:hover {
    color: #d69d29;
}

.footer-bottom {
    text-align: center;
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid rgba(255,255,255,0.25);
    font-size: 13px;
    opacity: 0.8;
}


/* Bck to Top Button */
#backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #d69d29;
    color: white;
    border: none;
    outline: none;
    padding: 14px 16px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
    display: none; /* Hidden initially */
    transition: 0.4s ease;
    z-index: 999;
}

#backToTop:hover {
    background: #b38520;
    transform: translateY(-4px);
}
